#footer{
	background-color:#28282B;
	text-align:center;
	color:#FEC201;
	height:50px;
	width:1330px;
	padding:3px 0px;
	margin:2px 0px 0px 0px;
	font-size:18px;
	font-family: "Sofia", sans-serif;
	clear:both;
}