#header{
   	background-color:#28282B;
	text-align:center;
    height:150px;
    width:1330px;
	color:#FEC201;
	font-size:80px;
	font-family: "Sofia", sans-serif;
	text-shadow: 3px 3px 3px #5e3003;
}
